.school-logo {
	background-image:url(../media/schoolLogo.png);
	background-position:top right;
	background-repeat:no-repeat;
}

.criteria {
	background: linear-gradient(rgba(255,255,255,0.8), rgba(200,255,200,0.8));
	border-radius:5px;
	padding: 10px;
	margin: 5px;
}

.grade_area {
	margin:5px;
	padding:10px;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,200,0.8));
	border-radius: 5px;
}

.criteria_indicator {
	float:right;
}

.rating_holder {
	background-color:#FFF;
	padding:5px;
	border-radius:5px;
}

.indicator {
	border-radius: 5px;
	background: linear-gradient(#FFF,#CCF);
	border-width:1px;
	border-style:solid;
	border-color:#000;
	position:relative;
	margin:5px;
}

.indicator_bar {
	background: linear-gradient(90deg, #F00, #0F0);
	width:100%;
	height:5px;
	border-radius:5px;
	position:absolute;
}

#dlg {
	width:800px;
}

#txt_topic_criteria{
	font-size:x-small;
}